
body{
  background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-family: 300;
  color: #62686f;
}

h1,h2,h3,h4,h5,h6{
	color:#333;
	font-weight: 300;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li{
	/*设置成inline-block，对外表现为行元素，而对内表现为块元素*/
	display: inline-block;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.container p{
	margin-top: 50px;
	margin-bottom: 50px;
}

.main-header{
	margin-top: 150px;
	text-align: center;
	background-image: url(../img/banner.jpg);
	padding:1px;
}

.main-header h1{
	margin-bottom: 20px;
	text-align: center;
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}

.main-header img{
	display: block;
	margin: 0 auto;
	margin-top: -70px;
	border:3px solid white;
	border-radius: 999px;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

/*导航*/
.main-nav{
	background-color: #333;
	text-align: center;
}

.main-nav ul li{
	margin:15px 10px;
}

.main-nav ul li a{
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav ul li a:hover{
	text-decoration: underline;
}

/*导航 end*/

/*info-section*/
.info-section{
	background-color: #fff;
	padding: 30px 60px;/*修复section与nav之间的空隙 Margin Collapse 问题*/
}

.info-section header{
	text-align: center;
	margin-bottom: 60px;
}

.info-section header h2{
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.info-section header h2:after{
	content: "";
	border-bottom: 3px solid black;
	display: block;
	width: 150px;
	margin: 15px auto;
}

.info-section__description{
	font-style: italic;
}

.whatido__skill--code{
	background-image: url(../img/skill-code.png);
}

.whatido__skill--design{
	background-image: url(../img/skill-design.png);
}

.whatido__skill--product{
	background-image: url(../img/skill-product.png);
}

.whatido__skill{
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 120px;
	width: 33.3%;
	float: left;
	text-align: center;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}
/*第二课 end*/
/*第三课，实现页面内容*/
.education-experience__list li img{
	width: 180px;
	float: left;
}

.education-experience__list__article{
	overflow: hidden;
	padding-left: 40px;
	margin-bottom: 20px;
}

/*实现photo box布局*/
.photos__list li{
	margin: 0;
	float: left;
	box-sizing:border-box;
	width: 25%;
	padding: 10px;
	font-size: 12px;
}

.photos__list li img{
	width: 100%;
}


/*第四课，实现get in touch*/
.get-in-touch__list {
	overflow: hidden;
}

.get-in-touch__list li{
	float: left;
	width: 25%;
	text-align: center;
}

/*第五课，contact实现*/
.contact input,
.contact textarea{
	border:1px solid #ccc;
	border-radius: 4px;
}

.contact button{
	border:none;
	border-radius: 9999px;
	background:#ffd524;
	cursor: pointer;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);
	color:#fff;
	box-shadow: 0 3px 0 #daae1d;
	width: 100%;
}

.contact form{
	width: 40%;
	margin: 0 auto;
}

.contact form input,textarea{
	width: 100%;
	padding: 8px;
}

.contact .formdiv{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contact .formdiv label{
	position: absolute;
	right: 100%;
	margin-top: 13px;
	margin-right: 10px;
}